<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div{
        background=red;
        }
        </style>
</head>
<bod><div>
    <form action="/savepassanger/" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        
    </table>
    <input type="submit" value="submit">
    
    </form>
    </div>
</body>
</html>
