<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    div{
        background-color: aqua;
    }
    </style>
</head>
<body>
    <center>
            <div>
    <h2> passanger details </h2> <br>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
            <th>SEAT NO</th>
        </tr>
        {% for p in passangers %}
        <tr>
            <td>{{p.pid}}</td>
            <td>{{p.fname}}</td>
            <td>{{p.lname}}</td>
            <td>{{p.age}}</td>
            <td>{{p.seatno}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/index/"> Go to index page </a>
    </div>
</center>

</body>
</html>